@charset "utf-8";
*{
    box-sizing:border-box;
}
form{
    font-size:20px;
    font-family: sans-serif;
}
#password{
    width:250px;
    padding:10px;
    border:1px solid #ccc;
    float:left;
}
#icon{
    float:left;
    font-size:25px;
    padding:10px;
    display:none;
}
#message{
    float:left;
    width:250px;
    height:auto;
    border:1px solid #ccc;
    margin-top:1px;
    clear:left;
    display:none;
}
#upper,#lower,#num{
    margin:10px;
    font-size:18px;
    font-family:calibri;
}
#password:focus{
    outline:none;
}