div{
    width:720px;
    height:1280px;
    border-style:solid;
    background-image:url(shikha.jpg);
    float:left;
}
#aa{
    width:720px;
    height:1280px;
    border-style:solid;
    background-image:url(🫴🫀.jpg);
    float:left;
}
#bb{
    width:720px;
    height:1280px;
    border-style:solid;
    background-image:url(shikha.jpg);
    float:left;
}#cc{
    width:720px;
    height:1280px;
    border-style:solid;
    background-image:url(🫴🫀.jpg);
    float:left;
}