@charset "utf-8";
div{
    width:720px;
    height:480px;
    border:10px solid red;
    background-size:cover;
    margin:0 auto;
    margin-top:50px;
    background-image:url(image/a.jpg);
}
div:hover{
    -webkit-animation:kunal 12s infinite; 
    -o-animation:kunal 12s infinite; 
    -moz-animation:kunal 12s infinite; 
    animation:kunal 12s infinite;
}
@-webkit-keyframes kunal{
    0%{background-image:url(image/a.jpg);background-size:cover;}
    25%{background-image:url(image/b.jpg);background-size:cover;}
    50%{background-image:url(image/c.jpg);background-size:cover;}
    75%{background-image:url(image/d.jpg);background-size:cover;}
    100%{background-image:url(image/e.jpg);background-size:cover;}
}
@-o-keyframes kunal{
    0%{background-image:url(image/a.jpg);}
    25%{background-image:url(image/b.jpg);}
    50%{background-image:url(image/c.jpg);}
    75%{background-image:url(image/d.jpg);}
    100%{background-image:url(image/e.jpg);}
}
@-moz-keyframes kunal{
    0%{background-image:url(image/a.jpg);}
    25%{background-image:url(image/b.jpg);}
    50%{background-image:url(image/c.jpg);}
    75%{background-image:url(image/d.jpg);}
    100%{background-image:url(image/e.jpg);}
}
@keyframes kunal{
    0%{background-image:url(image/a.jpg);}
    25%{background-image:url(image/b.jpg);}
    50%{background-image:url(image/c.jpg);}
    75%{background-image:url(image/d.jpg);}
    100%{background-image:url(image/e.jpg);}
}