*{
    box-sizing:border-box;

}
.col-1{
    width:8.33%;
    height:40px;
}
.col-2{
    width:16.66%;
    height:40px;
}
.col-3{
    width:24.99%;
    height:40px;
}
.col-4{
    width:33.32%;
    height:40px;
}
.col-5{
    width:41.65%;
    height:40px;
}
.col-6{
    width:49.98%;
    height:40px;
}
.col-7{
    width:58.31%;
    height:40px;
}
.col-8{
    width:66.64%;
    height:40px;
}
.col-9{
    width:74.97%;
    height:40px;
}
.col-10{
    width:83.3%;
    height:40px;
}
.col-11{
    width:91.63%;
    height:40px;
}
.col-12{
    width:100%;
    height:40px;
}
.header, .aside, .nav, .section, .footer{
    float:left;
}
.header{
    height:200px;
    background-color:blue;
}
.aside{
    height:60px;
    background-color:black;
}
.nav{
    height:60px;
    background-color:red;
}
.section{
    background-color:blue;
    height:760px;
}
.footer{
    background-color:black;
    height:60px;
}
