@charset "utf-8";
body{
    -webkit-animation: wap 4s infinite;
    -o-animation: wap 4s infinite;
    -moz-animation: wap 4s infinite;
    /* animation-name:wap;
    animation-duration:4s;
    animation-iteration-count:infinite;
     */
    animation: wap 4s infinite;
}
@keyframes wap{
    0%{background:red;}
    25%{background:blue;}
    50%{background:green;}
    75%{background:yellow;}
    100%{background:gray;}
}